@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: rgb(0, 255, 236);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: rgb(0, 255, 236);
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-latin-400-normal.woff2") format("woff2"),
       url("/fonts/poppins-latin-400-normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-latin-700-normal.woff2") format("woff2"),
       url("/fonts/poppins-latin-700-normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  margin: 0 auto;
  max-width: 80%;
}

body {
  @apply text-[var(--foreground)] bg-[var(--background)] font-['Poppins',_sans-serif];
}

@layer components {
  .line_bottom {
    @apply border-b border-sky-500 p-1 shadow-[0px_15px_10px_-15px_rgba(59,130,246,0.5)];
  }
  .line_top {
    @apply border-t border-sky-500 p-1 shadow-[0px_-15px_10px_-15px_rgba(59,130,246,0.5)];
  }
  .banner {
    @apply flex flex-col md:flex-row items-center justify-center text-center md:text-left border border-white my-4 mx-2 p-10 shadow-lg shadow-sky-500/50 gap-10;
  }
  .banner_img {
    @apply md:w-60 lg:w-80;
  }
  .banner_content {
    @apply flex flex-col items-center md:items-start justify-center h-full;
  }
  .banner_h3 {
    @apply mb-5 text-sm text-sky-500 p-1;
  }
  .banner_p {
    @apply text-center md:text-left w-4/5;
  }
  .nav_container {
    @apply flex justify-between items-end mb-10 border-b border-sky-500 pb-6 shadow-[0px_15px_10px_-15px_rgba(59,130,246,0.5)];
  }
  .nav_list {
    @apply flex flex-nowrap pt-7 w-[18rem] justify-between;
  }
  .nav_link {
    @apply font-bold text-sm uppercase no-underline text-sky-500 pb-5 relative opacity-75 h-4;
  }
  .nav_link:hover {
    @apply opacity-100;
  }
  .nav_active::before {
    @apply transition-all duration-300 h-0 w-full bg-sky-500 absolute bottom-0 content-[''];
  }
  .nav_active:hover::before {
    @apply h-1;
  }
  .footer {
    @apply border-t border-sky-500 py-6 shadow-[0px_-15px_10px_-15px_rgba(59,130,246,0.5)];
  }
  .footer-container {
    @apply container mx-auto text-center;
  }
  .footer-content {
    @apply flex flex-col md:flex-row justify-between items-center gap-6;
  }
  .social-icons {
    @apply flex space-x-4;
  }
  .social-icon {
    @apply flex items-center justify-center w-12 h-12 rounded-full border-2 border-gray-300 transition-all duration-300 hover:bg-sky-500;
  }
}
